@model List<HackForChang2014Web.Models.Park>
<h2>Park Listing</h2>

@if (Model != null & Model.Count > 0)
{
    <ul class="list-group">
        @foreach (var park in Model)
        {
            <li class="list-group-item">
                <a href="@string.Format("/Park/?name={0}", park.Name)">
                    <h4>@park.Name</h4>
                </a>
            </li>
        }
    </ul>
}