@{
    ViewBag.Title = "Test Page";
}

<h2>Test Page</h2>
<br />
<label>Temperature: </label><label id="lblTemperature"></label>
<br />
<label>Light Level: </label><label id="lblLightLevel"></label>
<br />
<label>Crowd Average: </label><label id="lblAverage"></label>
<br />
<label>Crowd Total Number: </label><label id="lblTotal"></label>
<br />
@section scripts
{
    <script type="text/javascript" src="/Scripts/TheJS.js"></script>
}
